*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
    font-weight: 600;
}

#nav h4{
    font-size: 20px;
}

#nav i {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}

#beg:hover i{
    background-color: red;
    color: black;
    transform: rotate(360deg);
    
}

#hh:hover {
    color: red;
}

#center{
    width: 100%;
    padding: 40px 80px;
}

#center h1{
    font-size: 4.1vw;
    font-weight: 500;
    line-height: 4.4vw;
}

#center-in{
    height: 200px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    font-size: 1.15vw;
    font-weight: 600;
    line-height: 1.8vw;
}

#right{
    width: 20%;
}

.elem {
    padding: 20px 0;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i {
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
    transition: transform 0.5s; 

}

.elem:hover i{
   opacity: 1;
   color: red;
   transform: rotate(360deg);
   
}
.elem:hover{
    background-color: rgb(245, 245, 245);
}

.elem a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

#bottom {
    height: 45%;
    width: 100%;
    background-color: red;
    background-image: url(https://media.istockphoto.com/id/485486468/photo/time-for-school-holidays.jpg?s=2048x2048&w=is&k=20&c=LMfl5aulMNC1yg97v61bjHpbn0gZ94zZAxbdkH_2n_o=);
    background-size: cover;
    background-position: 0 20%;
}







@media (max-width: 600px){
    
    #nav{
        height: 60px;
        gap: 20px;
        padding: 0 20px;
    }
    #nav h4{
        font-size: 12px;
    }
    
    #nav i {
        background-color: black;
        color: white;
        font-size: 12px;
        padding: 7px;
        border-radius: 50%;
        font-weight: 500;
    }



    #center{
        width: 100%;
        padding: 15px 20px;
    }
    
    #center h1{
        font-size: 10vw;
        font-weight: 500;
        line-height: 13vw;
    }
    
    #center-in{
        width: 100%;
        margin-top: 25px;
        display: flex;
        gap: 35px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #center-in p{
        font-size: 3vw;
        font-weight: 600;
        line-height: 4.8vw;
    }
    
    #right{
        width: 100%;
    }
    
    .elem {
        padding: 10px 0;
        border-top: 1.5px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .elem i {
        font-size: 15px;
        font-weight: 500;
        opacity: 1;
        color: #303030;
    
    }
    
    .elem a {
        color: #303030;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
    }
     

    #bottom {
        height: 33%;
        width: 100%;
        background-color: red;
        background-image: url(https://img.freepik.com/free-photo/group-children-colored-t-shirts-sitting-table-with-raised-hands_186202-5282.jpg?t=st=1713684655~exp=1713688255~hmac=2410023a7823060ba83a58df5aed3b1ea8075e74745a4f1084d8c6ce2ffe0032&w=1380);
        background-size: cover;
        background-position: 0 25%;
    }


}